#

In [ ]:
#import libraries and packages

In [9]:
import pandas as pd
import pandasql as ps
import numpy as np

In [10]:
pip install -U pandasql

Requirement already satisfied: pandasql in d:\users\dayanef\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pandas in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\users\dayanef\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\users\dayanef\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.5 in d:\users\dayanef\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\users\dayanef\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)

In [ ]:
#read excel file

In [11]:
file_csv = pd.read_excel(r"D:\Users\dayanef\Downloads\Sales of diesel by UF and type.xlsx")

In [ ]:
#create dataframe to convert UF

In [12]:
siglas_uf = pd.DataFrame(data=np.array([['AC', 'ACRE'], ['AL', 'ALAGOAS'], ['AP', 'AMAPÁ'], ['AM', 'AMAZONAS'], ['BA', 'BAHIA'], ['CE', 'CEARÁ'], ['DF', 'DISTRITO FEDERAL'], ['ES', 'ESPÍRITO SANTO'], ['GO', 'GOIÁS'], ['MA', 'MARANHÃO'], ['MT', 'MATO GROSSO'], ['MS', 'MATO GROSSO DO SUL'], ['MG', 'MINAS GERAIS'], ['PA', 'PARÁ'], ['PB', 'PARAÍBA'], ['PR', 'PARANÁ'], ['PE', 'PERNAMBUCO'], ['PI', 'PIAUÍ'], ['RJ', 'RIO DE JANEIRO'], ['RN', 'RIO GRANDE DO NORTE'], ['RS', 'RIO GRANDE DO SUL'], ['RO', 'RONDÔNIA'], ['RR', 'RORAIMA'], ['SC', 'SANTA CATARINA'], ['SP', 'SÃO PAULO'], ['SE', 'SERGIPE'], ['TO', 'TOCANTINS']]),columns=['UF', 'ESTADO'])

In [ ]:
#create dataframe using excel file

In [13]:
df = ps.sqldf("""
        SELECT year_month,
               UF as uf,
               product,
               unit,
               volume,  
               created_at
        FROM (
            SELECT      ANO || "-01" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jan as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv
                       
            UNION ALL
            
            SELECT      ANO || "-02" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Fev as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv  
                        
            UNION ALL
            
            SELECT      ANO || "-03" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Mar as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-04" as year_month,
                        ESTADO,  
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Abr as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-05" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Mai as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-06" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jun as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-07" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jul as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-08" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Ago as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-09" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        [Set] as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv            
             UNION ALL
            
            SELECT      ANO || "-10" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Out as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-11" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Nov as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-12" as year_month,
                        ESTADO,  
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Dez as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv ) A
            LEFT JOIN siglas_uf B
                 ON A.ESTADO = B.ESTADO """)

In [ ]:
#save the staging table

In [ ]:
jdbcUrl = 'jdbc:sqlserver://xxxx;database=xxxx;user=xxxx;password=xxxx;encrypt=true;trustServerCertificate=false;hostNameInCertificate=xxx;loginTimeout=60;'
  
df.write\
  .format("jdbc")\
  .mode("overwrite")\
  .option("url", jdbcUrl)\
  .option("dbtable", "staging.anp")\
  .save()

In [ ]:
#check data consistent

In [ ]:
df.count()

In [ ]:
df.describe()

In [ ]:
table = pd.pivot_table (df, index = "year_month", columns = "product", values = "volume", aggfunc = "sum")
print(table)