In [ ]:
#import libraries and packages

In [2]:
import pandas as pd
import pandasql as ps
import numpy as np

In [3]:
pip install -U pandasql

Requirement already satisfied: pandasql in d:\users\dayanef\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: pandas in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: numpy in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: sqlalchemy in d:\users\dayanef\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\users\dayanef\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\users\dayanef\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: six>=1.5 in d:\users\dayanef\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\users\dayanef\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#read excel file

In [4]:
file_csv = pd.read_excel(r"D:\Users\dayanef\Downloads\Sales of oil derivative fuels by UF and product.xlsx")

In [ ]:
#create dataframe to convert UF

In [5]:
siglas_uf = pd.DataFrame(data=np.array([['AC', 'ACRE'], ['AL', 'ALAGOAS'], ['AP', 'AMAPÁ'], ['AM', 'AMAZONAS'], ['BA', 'BAHIA'], ['CE', 'CEARÁ'], ['DF', 'DISTRITO FEDERAL'], ['ES', 'ESPÍRITO SANTO'], ['GO', 'GOIÁS'], ['MA', 'MARANHÃO'], ['MT', 'MATO GROSSO'], ['MS', 'MATO GROSSO DO SUL'], ['MG', 'MINAS GERAIS'], ['PA', 'PARÁ'], ['PB', 'PARAÍBA'], ['PR', 'PARANÁ'], ['PE', 'PERNAMBUCO'], ['PI', 'PIAUÍ'], ['RJ', 'RIO DE JANEIRO'], ['RN', 'RIO GRANDE DO NORTE'], ['RS', 'RIO GRANDE DO SUL'], ['RO', 'RONDÔNIA'], ['RR', 'RORAIMA'], ['SC', 'SANTA CATARINA'], ['SP', 'SÃO PAULO'], ['SE', 'SERGIPE'], ['TO', 'TOCANTINS']]),columns=['UF', 'ESTADO'])

In [ ]:
#create dataframe using excel file

In [8]:
df = ps.sqldf("""
        SELECT year_month,
               UF as uf,
               product,
               unit,
               volume,  
               created_at
        FROM (
            SELECT      ANO || "-01" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jan as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv
                       
            UNION ALL
            
            SELECT      ANO || "-02" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Fev as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv  
                        
            UNION ALL
            
            SELECT      ANO || "-03" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Mar as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-04" as year_month,
                        ESTADO,  
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Abr as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-05" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Mai as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-06" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jun as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-07" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Jul as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-08" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Ago as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-09" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        [Set] as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv            
             UNION ALL
            
            SELECT      ANO || "-10" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Out as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                        
            
            UNION ALL
            
            SELECT      ANO || "-11" as year_month,
                        ESTADO, 
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Nov as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv                         
            
            UNION ALL
            
            SELECT      ANO || "-12" as year_month,
                        ESTADO,  
                        COMBUSTÍVEL as product,
                        UNIDADE as unit,
                        Dez as volume,
                        CURRENT_TIMESTAMP as created_at
            FROM file_csv ) A
            LEFT JOIN siglas_uf B
                 ON A.ESTADO = B.ESTADO """)

In [ ]:
#save the staging table

In [ ]:
jdbcUrl = 'jdbc:sqlserver://xxxx;database=xxxx;user=xxxx;password=xxxx;encrypt=true;trustServerCertificate=false;hostNameInCertificate=xxx;loginTimeout=60;'
  
df.write\
  .format("jdbc")\
  .mode("overwrite")\
  .option("url", jdbcUrl)\
  .option("dbtable", "staging.anp")\
  .save()

In [ ]:
#check data consistent

In [19]:
df.count()

year_month    54432
uf            54432
product       54432
unit          54432
volume        53784
created_at    54432
dtype: int64

In [20]:
df.describe()

             volume
count  5.378400e+04
mean   4.405078e+04
std    1.081486e+05
min   -5.676929e+01
25%    2.271735e+02
50%    7.282268e+03
75%    3.754650e+04
max    1.272781e+06

In [27]:
table = pd.pivot_table (df, index = "year_month", columns = "product", values = "volume", aggfunc = "sum")
print(table)

product     ETANOL HIDRATADO (m3)  GASOLINA C (m3)  GASOLINA DE AVIAÇÃO (m3)  \
year_month
2000-01                425187.481      1810572.096                  7615.609
2000-02                421706.408      1966364.759                  7931.369
2000-03                405266.215      1801197.989                  6133.995
2000-04                414609.690      1863561.899                  6130.738
2000-05                435214.558      1869175.737                  5377.796
...                           ...              ...                       ...
2020-08               1569803.325      2933072.544                  3143.874
2020-09               1700708.710      3127219.046                  3615.013
2020-10                     0.000            0.000                     0.000
2020-11                     0.000            0.000                     0.000
2020-12                     0.000            0.000                     0.000

product         GLP (m3)  QUEROSENE DE AVIAÇÃO (m3)  \
year_month
2000-01     9.500825e+05                 363518.414
2000-02     9.775822e+05                 342379.950
2000-03     1.072149e+06                 351383.843
2000-04     1.032596e+06                 334955.550
2000-05     1.115789e+06                 352383.205
...                  ...                        ...
2020-08     1.196802e+06                 195708.950
2020-09     1.138969e+06                 230503.484
2020-10     0.000000e+00                      0.000
2020-11     0.000000e+00                      0.000
2020-12     0.000000e+00                      0.000

product     QUEROSENE ILUMINANTE (m3)  ÓLEO COMBUSTÍVEL (m3)  ÓLEO DIESEL (m3)
year_month
2000-01                     17346.474          857972.900000       2562814.939
2000-02                     15896.540          833109.517347       2851462.374
2000-03                      9297.861          909600.184694       2795766.194
2000-04                     10004.148          770166.972449       2850547.888
2000-05                     11322.572          811013.456122       2917605.671
...                               ...                    ...               ...
2020-08                       384.600          144914.904000       5164439.187
2020-09                       405.400          115833.093000       5237175.795
2020-10                         0.000               0.000000             0.000
2020-11                         0.000               0.000000             0.000
2020-12                         0.000               0.000000             0.000

[252 rows x 8 columns]